$color-white: #ffffff; //Section 1 Heading color
$color-subscritpt: #858d99; //Section 1 Heading EBOOK
$color-subheading: #c3c3c5; //Section 1 Heading description
$color-button: #31c079; //Section 2 submit button color
$color-grey-dark: #78797f; //Section 2 text color
$color-primary: #55c57a;
$color-primary-light: #7ed56f;

$color-black: #000;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: sans-serif;
	font-weight: 200;
	line-height: 1.6;
	box-sizing: border-box;
}

.header {
	height: 68vh;
	background-image: linear-gradient(
			to right,
			rgba(rgb(31, 42, 56), 0.8),
			rgba(rgb(42, 53, 54), 0.8)
		),
		url(../img/hero-img.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&__content-box {
		position: absolute;
		display: block;
		max-width: 100vh;
		top: 3.2rem;
		left: 14.7rem;
	}

	&__logo {
		display: block;
		height: 3.6rem;
		margin-bottom: 9rem;
	}

	&__text-box-span {
		color: $color-subheading;
		font-weight: 800;
		letter-spacing: 0.3rem;
		font-size: 1rem;
		// padding-bottom: 4rem;
	}

	&__text-box-primary {
		padding-top: 3.5rem;
		padding-bottom: 1.2rem;
		font-size: 4.9rem;
		color: $color-white;
		font-weight: 600;
		line-height: 1.2;
	}

	&__text-box-description {
		color: $color-subheading;
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 1.8;
		word-spacing: 0.2rem;
	}
}

.section-about {
	// display: flex;
	position: absolute;
	max-width: 100vh;
	// background-color: #31c079;
	&__description {
		position: relative;
		// display: block;
		// background-color: red;
		top: 6rem;
		left: 14.7rem;
	}

	&__heading-primary {
		font-size: 2.5rem;
		padding-bottom: 1.5rem;
	}

	&__heading-para {
		color: $color-grey-dark;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1.8;
		word-spacing: 0.2rem;
		padding-bottom: 2rem;
	}

	&__para {
		padding-top: 1.5rem;
		padding-bottom: 3rem;

		color: $color-grey-dark;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1.8;
		word-spacing: 0.2rem;
	}

	&__list {
		padding-bottom: 3rem;
		padding-left: 3rem;
		color: $color-grey-dark;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1.8;
		word-spacing: 0.2rem;
	}

	&__heading-secondary {
		// color: red;
		font-size: 2.8rem;
		font-weight: 400;
		// padding-bottom: 0.1rem;
	}
}
