*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 200;
  line-height: 1.6;
  box-sizing: border-box;
}

.header {
  height: 68vh;
  background-image: linear-gradient(to right, rgba(31, 42, 56, 0.8), rgba(42, 53, 54, 0.8)), url(../img/hero-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__nav {
  position: fixed;
  height: 10rem;
  width: 100%;
  z-index: 1;
}
.header__nav--logo {
  position: absolute;
  top: 3.2rem;
  left: 14.7rem;
}
.header__content-box {
  position: absolute;
  display: block;
  max-width: 100vh;
  top: 15rem;
  left: 14.7rem;
}
.header__content-box__header__nav__active {
  background-color: #ffffff;
  height: 10rem;
}
.header__logo {
  display: block;
  height: 3.6rem;
  margin-bottom: 9rem;
}
.header__text-box-span {
  color: #c3c3c5;
  font-weight: 800;
  letter-spacing: 0.3rem;
  font-size: 1rem;
}
.header__text-box-primary {
  padding-top: 3.5rem;
  padding-bottom: 1.2rem;
  font-size: 4.9rem;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.2;
}
.header__text-box-description {
  color: #c3c3c5;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8;
  word-spacing: 0.2rem;
}

.section-about {
  display: flex;
  height: 85rem;
  overflow: hidden;
}
.section-about__description {
  position: relative;
  height: 100vh;
  max-width: 100vh;
  display: block;
  top: 6rem;
  left: 14.7rem;
}
.section-about__heading-primary {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}
.section-about__heading-para {
  color: #78797f;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8;
  word-spacing: 0.2rem;
  padding-bottom: 2rem;
}
.section-about__para {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  color: #78797f;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8;
  word-spacing: 0.2rem;
}
.section-about__list {
  padding-bottom: 3rem;
  padding-left: 3rem;
  color: #78797f;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8;
  word-spacing: 0.2rem;
}
.section-about__heading-secondary {
  font-size: 2.8rem;
  font-weight: 400;
}
.section-about__form {
  padding: 2.5rem;
  left: 95rem;
  height: 85rem;
  width: 45rem;
  position: absolute;
  margin-top: -5rem;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.section-about__form-header {
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
}
.section-about__form__fields {
  padding-top: 5rem;
}
.section-about__form__fields__top-div {
  display: flex;
  width: 100%;
}
.section-about__form__inputs {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.section-about__form__inputs label {
  font-size: 1.5rem;
  font-weight: 600;
}
.section-about__form__inputs input {
  margin: 0.5rem 0;
  padding: 1rem 2rem;
  width: 100%;
}
.section-about__form__inputs__button {
  margin: 5rem 0;
}
.section-about__form__inputs__button--btn {
  padding: 2rem 4rem;
  border-radius: 4rem;
  box-shadow: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  color: #ffffff;
  background-color: #2bb871;
  cursor: pointer;
}
.section-about__form__inputs__button--btn:hover {
  background-color: #ffffff;
  color: #2bb871;
  border-color: rgb(30, 126, 170);
  transition: 0.1s;
}
.section-about__form__select {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
.section-about__form__select p {
  font-size: 1.5rem;
  font-weight: 600;
}
.section-about__form__select select {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0;
  border-style: none;
}

.footer {
  margin-top: 12rem;
  padding: 7rem 0;
  background-color: #e8ecef;
}
.footer__container {
  text-align: center;
}
.footer__container-logo-box {
  padding-bottom: 2rem;
}
.footer__container-copyrights-large {
  color: #a0a3a8;
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.footer__container-copyrights-small {
  color: #a0a3a8;
  font-size: 1.2rem;
  font-weight: 200;
  padding-bottom: 4rem;
}
.footer__container-site-links {
  padding: 0 3rem;
  padding-bottom: 2rem;
}
.footer__container-site-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer__container__item {
  list-style: none;
  padding: 0 3rem;
}
.footer__container__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #a0a3a8;
}
.footer__container__link:hover {
  color: #000;
  transition: 0.5s;
}
.footer__container-social-media {
  padding: 0 3rem;
  padding-bottom: 2rem;
}
.footer__container-social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer__container__item-social {
  list-style: none;
  padding: 0 2rem;
}
.footer__container__social-link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #a0a3a8;
}
.footer__container__social-link:hover {
  color: #78797f;
  transition: 0.5s;
}