$color-white: #ffffff; //Section 1 Heading color
$color-subscritpt: #858d99; //Section 1 Heading EBOOK
$color-subheading: #c3c3c5; //Section 1 Heading description
$color-button: #2bb871; //Section 2 submit button color
$color-grey-dark: #78797f; //Section 2 text color
$color-footer-background: #e8ecef;
$color-footer-text: #a0a3a8;
$color-black: #000;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: sans-serif;
	font-weight: 200;
	line-height: 1.6;
	box-sizing: border-box;
}

.header {
	height: 68vh;
	background-image: linear-gradient(
			to right,
			rgba(rgb(31, 42, 56), 0.8),
			rgba(rgb(42, 53, 54), 0.8)
		),
		url(../img/hero-img.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&__nav {
		// position: absolute;
		// top: 3.2rem;
		// left: 14.7rem;
		position: fixed;
		// background-color: #ffffff;
		// box-shadow: 0 1rem 5rem rgba($color-black, 0.1);
		height: 10rem;
		width: 100%;
		z-index: 1;
		&--logo {
			position: absolute;
			top: 3.2rem;
			left: 14.7rem;
		}
	}
	&__content-box {
		position: absolute;
		// background-color: red;
		display: block;
		max-width: 100vh;
		top: 15rem;
		left: 14.7rem;

		&__header__nav__active {
			background-color: #ffffff;
			height: 10rem;
		}
	}

	&__logo {
		display: block;
		height: 3.6rem;
		margin-bottom: 9rem;
	}

	&__text-box-span {
		color: $color-subheading;
		font-weight: 800;
		letter-spacing: 0.3rem;
		font-size: 1rem;
		// padding-bottom: 4rem;
	}

	&__text-box-primary {
		padding-top: 3.5rem;
		padding-bottom: 1.2rem;
		font-size: 4.9rem;
		color: $color-white;
		font-weight: 600;
		line-height: 1.2;
	}

	&__text-box-description {
		color: $color-subheading;
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 1.8;
		word-spacing: 0.2rem;
	}
}

.section-about {
	// display: flex;

	display: flex;
	// background-color: #31c079;
	height: 85rem;
	overflow: hidden;
	// padding-top: 5rem;
	&__description {
		position: relative;
		height: 100vh;
		max-width: 100vh;
		display: block;
		// background-color: red;
		top: 6rem;
		left: 14.7rem;
	}

	&__heading-primary {
		font-size: 2.5rem;
		padding-bottom: 1.5rem;
	}

	&__heading-para {
		color: $color-grey-dark;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1.8;
		word-spacing: 0.2rem;
		padding-bottom: 2rem;
	}

	&__para {
		padding-top: 1.5rem;
		padding-bottom: 3rem;

		color: $color-grey-dark;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1.8;
		word-spacing: 0.2rem;
	}

	&__list {
		padding-bottom: 3rem;
		padding-left: 3rem;
		color: $color-grey-dark;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1.8;
		word-spacing: 0.2rem;
	}

	&__heading-secondary {
		// color: red;
		font-size: 2.8rem;
		font-weight: 400;
		// padding-bottom: 0.1rem;
	}

	&__form {
		// background-color: red;
		// padding: 5rem;
		// display: flex;
		padding: 2.5rem;
		left: 95rem;
		height: 85rem;
		width: 45rem;
		position: absolute;

		margin-top: -5rem;
		background-color: #ffffff;
		overflow: hidden;
		box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
		border-radius: 1rem;
		&-header {
			font-size: 2.8rem;
			font-weight: 400;
			text-align: center;
		}

		&__fields {
			padding-top: 5rem;
		}

		&__fields__top-div {
			// background-color: red;
			display: flex;
			// flex-wrap: wrap;
			// align-items: center;
			// justify-content: flex-start;
			width: 100%;
		}

		&__inputs {
			// background-color: #31c079;
			display: flex;
			flex-direction: column;
			margin-left: 1rem;

			label {
				font-size: 1.5rem;
				font-weight: 600;
			}

			input {
				margin: 0.5rem 0;
				padding: 1rem 2rem;
				width: 100%;
			}

			&__button {
				margin: 5rem 0;

				&--btn {
					padding: 2rem 4rem;
					border-radius: 4rem;
					box-shadow: rgba($color-black, 0.1);
					text-transform: uppercase;
					font-weight: 400;
					font-size: 1.8rem;
					letter-spacing: 0.5rem;
					color: $color-white;
					// border-style: none;
					background-color: $color-button;
					cursor: pointer;

					&:hover {
						background-color: $color-white;
						color: $color-button;
						border-color: rgb(30, 126, 170);
						transition: 0.1s;
					}
				}
			}

			// justify-content: space-between;
			// padding-left: 5rem;
		}

		&__select {
			// background-color: #31c079;
			display: flex;
			flex-direction: column;
			margin-left: 0.5rem;
			// justify-content: space-between;
			// padding-left: 5rem;

			p {
				font-size: 1.5rem;
				font-weight: 600;
			}

			select {
				margin: 0.5rem;
				padding: 1rem;
				border-radius: 0;
				border-style: none;
			}
		}
	}
}

.footer {
	margin-top: 12rem;
	padding: 7rem 0;
	background-color: #e8ecef;

	// background-color: red;
	&__container {
		// background-color: #31c079;
		text-align: center;

		&-logo-box {
			padding-bottom: 2rem;
		}

		&-copyrights-large {
			color: $color-footer-text;
			font-size: 1.5rem;
			font-weight: 400;
			padding-bottom: 1rem;
		}

		&-copyrights-small {
			color: $color-footer-text;
			font-size: 1.2rem;
			font-weight: 200;
			padding-bottom: 4rem;
		}

		&-site-links {
			// display: flex;
			padding: 0 3rem;
			padding-bottom: 2rem;
			// text-align: center;

			// background-color: black;

			&-list {
				display: flex;
				justify-content: center;
				align-items: center;
				list-style: none;
			}
		}

		&__item {
			// display: flex;
			list-style: none;

			// display: inline-block;
			padding: 0 3rem;
		}

		&__link {
			// padding-left: 3rem;
			text-decoration: none;
			font-size: 1.5rem;
			font-weight: 600;
			color: $color-footer-text;

			&:hover {
				color: $color-black;
				transition: 0.5s;
			}
		}

		&-social-media {
			// display: flex;
			padding: 0 3rem;
			padding-bottom: 2rem;
			// text-align: center;

			// background-color: black;

			&-list {
				display: flex;
				justify-content: center;
				align-items: center;
				list-style: none;
			}
		}

		&__item-social {
			// display: flex;
			list-style: none;

			// display: inline-block;
			padding: 0 2rem;
		}
		&__social-link {
			// padding-left: 3rem;
			text-decoration: none;
			font-size: 1.5rem;
			font-weight: 600;
			color: $color-footer-text;

			&:hover {
				color: $color-grey-dark;
				transition: 0.5s;
			}
		}
	}
}
